# parkrun athlete ID (numeric)
# Found at: your parkrun profile URL, e.g. parkrun.com.au/parkrunner/2682215
PARKRUN_ATHLETE_ID=2682215

# parkrun country domain (default: www.parkrun.com.au)
# Other countries: www.parkrun.org.uk, www.parkrun.co.za, www.parkrun.us, etc.
# PARKRUN_DOMAIN=www.parkrun.com.au
